<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeha.stock.basic.mapper.RequestListMapper">
    <resultMap id="BaseResultMap" type="com.seeha.stock.basic.entity.RequestList">
        <result column="REQUEST_LIST_ID" property="requestListId" jdbcType="DECIMAL"/>
        <result column="STOCK_CODE" property="stockCode" jdbcType="VARCHAR"/>
        <result column="STOCK_NAME" property="stockName" jdbcType="VARCHAR"/>
        <result column="URL" property="url" jdbcType="DECIMAL"/>
        <result column="BODY_PARAM" property="bodyParam" jdbcType="VARCHAR"/>
        <result column="HEADER_PARAM" property="headerParam" jdbcType="VARCHAR"/>
        <result column="METHOD" property="method" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR"/>
        <result column="stock_desc" property="stockDesc" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectDataNotProcess" resultMap="BaseResultMap" parameterType="com.seeha.stock.basic.entity.RequestList">
        SELECT rl.*
        FROM
        request_list rl
        WHERE 1=1
        and ( rl.update_date != #{updateDate} OR rl.update_date IS NULL)

    </select>

</mapper>